# git ignore file

#Visual Studio files
.vs/slnx.sqlite
*.bak
*.cache
*.CodeAnalysisLog.xml
*.dll
*.exe
*.exe.config
*.exe.manifest
*.FileListAbsolute.txt
*.idb
*.ilk
*.ipch
*.lastcodeanalysissucceeded
*.log
*.nupkg
*.obj
*.pch
*.pdb
*.res
*.resources
*.sdf
*.suo
*.tlog
*.vshost.exe.config
*.vsp
*.xml
bin
build.force
obj
packages
*.orig